body{
    background-image: url(assets/background-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.computer {
    color: red;
}

.user {
    color: blue;
}

.result {
    color: green;
}

#rock {
    color: white;
    background-color: brown;
}

#paper {
    color: black;
    background-color: white;
}

#scissors {
    color: red;
    background-color: rgb(103, 102, 102);
}

#computer-point {
    color: red;
}

#user-point {
    color: blue;
}
